html {
    background: linear-gradient(#222222, #111111);
    min-width: 101vw;
    min-height: 101vh;
}

body {
    background-image: url('../img/sparkles.gif');
}

h1, form, table, h2, p {
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

input, button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    -webkit-text-fill-color: black;
}